<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transparent Image Generator</title>
</head>
<body>
<form method="post" action="{{ url_for('index') }}">
    {{ form.hidden_tag() }}
    {% if form.errors %}
        <ul>
            {% for name, errors in form.errors.items() %}
                <li>
                    <p>{{ name }}</p>
                    {% for err in errors %}
                        <span>{{ err }}</span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ form.width.label() }}
    {{ form.width() }}

    {{ form.height.label() }}
    {{ form.height() }}

    {{ form.data_uri.label() }}
    {{ form.data_uri() }}

    <button>만들기</button>
</form>
</body>
</html>